<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eVoting</title>
    <link rel="stylesheet" href="../assets/css/verify_email.css">
    <script src="https://kit.fontawesome.com/d058c2e4d4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="text">
            <h1>eVoting</h1>
            <p>Adresa de mail nu a fost verificată. Verificați adresa de mail accesând link-ul primit pe aceasta.</p>
        </div>
    </div>
</body>

</html>